/*
    Document   : admin
    Created on : 10-Aug-2011, 11:02:27
    Author     : shaun
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#loader {
	padding:0;
	margin:0;
	position:absolute;
	top:0; left:0;
	width:100%;
    height:100%;
	background:#efefef;
	opacity: 0.98;
	z-index:999;
	vertical-align:middle;
}

#loaderInner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	margin-top: -16px;
	margin-left: -16px;
	background-image: url('../images/loader_lg.gif');
	background-repeat: no-repeat;
}


html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background: #eee url('../images/backgrounds/adminBodyBg.png') repeat-x top left;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: #4a4a4a;
}

a:hover {
    color:#000;
}

#appLayout {
    height: 100%;
}

#leftCol {
    min-width: 200px;
}

#leftColTop {
    text-align: center;
    background-color: #eee;
}

.claro table.dijitCalendarContainer {
    margin: 5px auto;
}

.dojoxGrid table {
    margin: 0;
}

table {
    margin-right: auto;
    margin-left: auto;
}

